{# Ajouter Bootstrap #}
{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../static/layout.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <header>
    {% block alert %}
    {% endblock alert %}
    <h1 class="text-info text-center mt-3">Cleaner News</h1>
    <div class="m-3 pb-5 header">
      <div class="w-50 mx-auto mt-5">
        <ul class="nav nav-tabs justify-content-around">
          <li class="nav-item">
            <a class="nav-link active bg-info text-white" id="v-pills-home-tab" href="/">Cleaner News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-info" id="v-pills-profile-tab" href="/news">News</a>          </li>
          <li class="nav-item">
            <a class="nav-link text-info" id="v-pills-messages-tab" href="/meteo?name=Paris">Météo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-info" id="v-pills-settings-tab" href="/covid-19">Covid-19</a>
          </li>
          <li class="nav-item">
            {% if current_user.is_authenticated %}
          <a class="nav-link dropdown-toggle text-info" data-toggle="dropdown" href="#" role="button"
            aria-haspopup="true" aria-expanded="false">{{ current_user.username }}</a>
          {% else %}
          <a class="nav-link dropdown-toggle text-info" data-toggle="dropdown" href="#" role="button"
            aria-haspopup="true" aria-expanded="false">Profil</a>
          {% endif %}
          <div class="dropdown-menu">
            {% if current_user.is_authenticated %}
            <p></p>
            {% else %}
            <a class="dropdown-item mb-2" href="/login">Connexion</a>
            {% endif %}
            <a class="dropdown-item mb-2" href="/sign">Inscription</a>
            {% if current_user.is_authenticated %}
            <a class="dropdown-item mb-2" href="/logout">Déconnexion</a>
            {% else %}
            <p></p>
            {% endif %}
          </li>
        </ul>
        
      </div>
      <div class="m-5 w-75 mx-auto">
        <div class="d-flex">
          <h3 class="mb-4 text-muted">
            {% block title %}
            {% endblock title %}
          </h3>



        </div>
        <h4 class="text-justify text-muted font-weight-light">
          {% block intro %}
          {% endblock intro %}
        </h4>

      </div>
    </div>

  </header>
  <div class="container mb-5">
    {% block content %}
    {% endblock content %}
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>