{% extends "layout.html" %}

{% block title %}
Api Météo
{% endblock title %}

{% block intro %}
Celle-ci retourne la météo de n'importe quelle Ville ou de n'importe quelle Département de France, 
avec comme option : soit une barre de recherche, soit la carte régionale.
{% endblock intro %}

{% block content %}
<div class="w-25 mx-auto">
    <form method="POST">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username" placeholder="Username" >
        </div>
        <div class="form-group">
            <label>Mot de passe</label>
            <input type="password" class="form-control" name="password" placeholder="*******" >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="text-danger mt-2">
        {{error}}
    </div>
</div>

{% endblock content %}