{% extends "layout.html" %}

{% block title %}
Connexion
{% endblock title %}

{% block content %}
<div class="w-25 mx-auto">
    <form method="POST" action="/login">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/sign" class="text-info ml-3">Inscription</a>
    </form>
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p class="text-danger">{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

</div>

{% endblock content %}