{% extends "layout.html" %}

{% block alert %}
<div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="alert-info m-3 w-25 p-1 text-center">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% endblock alert %}


{% block title %}
News
{% endblock title %}
{% block intro %}
Grace à cette Api nous vous offrons les meilleurs informations, afin de ne rien manquer.
De nombreux articles sont publiés chaque heure sur tous les sujets importants du moment tirés de differents journaux.
{% endblock intro %}

{% block content %}
<div class=" pl-5 pr-5">
    <img class="img-fluid p-3" src="{{articleSelect.image_article}}" alt="">

    <div class="w-75 ml-5 mr-5 mb-3">
        <div class="w-25 d-flex mb-3">
            <a class="h3 mr-2 text-info" href="/like?id={{articleSelect.id}}">↑</a>
            <p class="h3 font-weight-light">{{like}}</p>
            <a class="h3 ml-5 mr-2 text-danger" href="/disLike?id={{articleSelect.id}}">↓</a>
            <p class="h3 font-weight-light">{{dislike}}</p>
        </div>
        <h6 class="card-subtitle mt-2 text-info">Ecrit par <a class="text-center mt-2 m-1 text-muted" href="/newAuteur?auteur={{articleSelect.auteur_article}}">{{articleSelect.auteur_article.upper()}}</a>, Publié le {{articleSelect.date_article}}</h6>
        <h5 class="card-title mt-1 font-weight-light">{{articleSelect.title_article}}</h5>
        <p>{{articleSelect.desc_article}}</p>
        <p>{{articleSelect.content_article}}</p>

    </div>
    <div>

        <div class="w-50 mb-5 mt-5">
            <form method="POST" action="/commentaire?id={{articleSelect.id}}">
                <input class="form-control border-right-0 border-left-0 border-top-0 mt-5" name="comm"
                    placeholder="Ajouter un commentaire">
                <button type="submit" class="btn btn-info mt-3">Envoyer</button>
            </form>
        </div>
    </div>
    {% for com in allCom %}
    <div class="w-50 border-left pl-2 p-1 mb-3">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <h6 class="font-weight-light">{{com.user.username}}</h6>
                <small class="font-weight-light ml-1 text-info">{{com.date_com}}</small>
            </div>
            <div class="btn-group dropup">
                <a class="mt-3 ml-5" data-toggle="dropdown" aria-haspopup="true">
                    ⋮
                </a>
                {% if com.users_id == current_user.id  %}
                <div class="dropdown-menu p-0">
                    <a class="dropdown-item font-weight-light"
                        href="/delete?idCom={{com.id}}&idArt={{com.article_id}}">Supprimer</a>
                    <a class="dropdown-item font-weight-light" href="#">Signaler</a>
                    <a class="dropdown-item font-weight-light" data-toggle="dropdown" href="">Modifier</a>
                    <div class="dropdown-menu mt-3 border-0">
                        <form method="POST" action="/update?id={{com.id}}&idArt={{com.article_id}}">
                            <input class="form-control border-right-0 border-left-0 border-top-0 mt-5 w-100"
                                name="update" value="{{com.content_com}}">
                            <button type="submit" class="btn btn-info mt-3">Modifier</button>
                        </form>
                    </div>
                </div>
                {% else %}
                <div class="dropdown-menu p-0">
                    <a class="dropdown-item font-weight-light" href="#">Signaler</a>
                </div>
                {% endif %}
            </div>

        </div>
        <h5 class="font-weight-light">{{com.content_com}}</h5>

    </div>
    {% endfor %}
</div>
{% endblock content %}
