{% extends "layout.html" %}
{% block alert %}
<div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="alert-info m-3 w-25 p-1 text-center">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% endblock alert %}

{% block title %}
News
{% endblock title %}

{% block intro %}
Grace à cette Api nous vous offrons les meilleurs informations, afin de ne rien manquer.
De nombreux articles sont publiés chaque heure sur tous les sujets importants du moment tirés de differents journaux.
{% endblock intro %}

{% block content %}
<link rel="stylesheet" href="../static/news.css">

<div class="input-group mb-3">
    <form method="POST" action="/search" class="d-flex">
        <input type="text" name="text" class="form-control ml-5" placeholder="Rechercher..." id="searchbar" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <button type="submit" class="btn btn-primary ml-5">Rechercher</button>
    </form>
</div>
<p id="datalist"></p>

<div class="row liste mx-auto justify-content-around">
    {% for article in allArticles %}
    <div class="card m-3 p-0 col-3 border-info item">
        <div class="card-body">
            <a href="{{url_for('.New', id=article.id)}}"><img src="{{article.image_article}}" class="img-fluid" alt=""></a>
            <h6 class="card-subtitle mt-2 text-info font-weight-light">Publié le {{article.date_article}} Par {{article.auteur_article}}</h6>
            <a href="{{url_for('.New', id=article.id)}}">
                <h5 class="card-title mt-1 font-weight-light">{{article.title_article}}</h5>
            </a>
            <p>{{article.desc_article}} {{article.id}}</p>
        </div>
    </div>
    {% endfor %}
</div>

<!-- <script>
    $(document).ready(function(){
        $("#searchbar").on("input",function(e){
            textinsearch = $("#searchbar").val();
            $.ajax({
                method:"post",
                url:"/search",
                data:{text:textinsearch},
                success:function(res){
                    var data = "<ul>";
                    $.each(res,function(index,value){
                        var id = value[0];
                        var titre = value[1];
                        data += "<li class="+ "data-li" + "> <a class="+ "dropdown-item" + " href="+ "new?id=" + id + ">" + titre + "</a></li>";
                    });
                    data += "</ul>";
                    $("#datalist").html(data);
                }
            })
        });
    })
</script> -->
<style>
    .data-li{
    list-style: none;
    }
    .data-li a{
        font-weight: bold;
        color: #0074D9;
    }
</style>

{% endblock content %}