{% extends "layout.html" %}

{% block title %}
News
{% endblock title %}

{% block intro %}
Grace à cette Api nous vous offrons les meilleurs informations, afin de ne rien manquer.
De nombreux articles sont publiés chaque heure sur tous les sujets importants du moment tirés de differents journaux.
{% endblock intro %}

{% block content %}
<link rel="stylesheet" href="../static/news.css">

<div class="row liste mx-auto justify-content-around">
    {% for article in allArticles %}
    <div class="card m-3 p-0 col-3 border-info item">
        <div class="card-body">
            <a href="{{url_for('.New', id=article.id)}}"><img src="{{article.image_article}}" class="img-fluid" alt=""></a>
            <h6 class="card-subtitle mt-2 text-info font-weight-light">Publié le {{article.date_article}}</h6>
            <a href="{{url_for('.New', id=article.id)}}">
                <h5 class="card-title mt-1 font-weight-light">{{article.title_article}}</h5>
            </a>
            <p>{{article.desc_article}} {{article.id}}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}